@using ProjetoPetshop.Dominio.Entidades
@model IEnumerable<Pet>


<div class="m-5">
    <h2 hidden>Listagem dos Pets</h2>
    <div class="col-md-12">
        <button class="btn btn-success pull-right novo-pet mb-2"><i class="fa fa-plus"></i> Novo Pet</button>
        <button class="btn btn-primary pull-right voltar-pet mb-2 mr-2"><i class="fa fa-close"></i> Voltar</button>
        <table class="table table-bordered table-hover mt-2">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Nome do Dono</th>
                    <th scope="col">Endereço do Dono</th>
                    <th scope="col">Telefone do Dono</th>
                    <th scope="col">Estado de Saúde</th>
                    <th scope="col">Motido de Internação</th>
                    <th scope="col" style="width: 10%;">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pet in Model)
                {
                    <tr>
                        <th scope="row">@pet.Id</th>
                        <td>@pet.Foto</td>
                        <td>@pet.Nome</td>
                        <td>@pet.NomeDono</td>
                        <td>@pet.EnderecoDono</td>
                        <td>@pet.TelefoneDono</td>
                        <td>@pet.EstadoSaude</td>
                        <td>@pet.MotivoInternacao</td>
                        <td>
                            <button class="btn btn-warning btn-sm" data-id="@pet.Id" id="btn-editar-pet"><i class="fa fa-pencil-square-o"></i></button>
                            <button class="btn btn-danger btn-sm btn-excluir-pet" data-id="@pet.Id" id="btn-excluir-pet"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>